@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --bg-color: #f5f8ff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-deep-black: #111111;
  --color-primary: #e95a08;
  --color-gray: #c8c8c8;
  --color-gray-purple: #8987a1;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* set font size 1rem=10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

.layout {
  display: grid;
  grid-template-rows: min-content 90vh repeat(6, min-content);
  grid-template-columns:
    [grid-start] minmax(15rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(15rem, 1fr) [grid-end];
}
.nav {
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
}

.hero {
  grid-row: 2 / 3;
  grid-column: center-start / center-end;
}

.plant {
  grid-row: 3 / 4;
  grid-column: center-start / center-end;
}
.store {
  grid-row: 4 / 5;
  grid-column: center-start / center-end;
}
.deals {
  grid-row: 5 / 6;
  grid-column: center-start / center-end;
}
.discount {
  grid-row: 6 / 7;
  grid-column: center-start / center-end;
}

.touch {
  grid-row: 7 / 8;
  grid-column: grid-start / grid-end;
}
.footer {
  grid-row: 8 / -1;
  grid-column: center-start / center-end;
}

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}
.grid-center {
  place-content: center;
}

.text-center {
  text-align: center;
}

.display-center {
  margin: 0 auto;
}

.header__section {
  margin-top: 3rem;
  justify-content: space-between;
}
.logo {
  width: 13.5rem;
  height: 8.2rem;
}
.logo:hover {
  cursor: pointer;
}

.navbar {
  list-style: none;
  font-size: 1.6rem;
  gap: 4.8rem;
}
.nav__link,
.nav__link:active,
.nav__link:visited {
  padding: 1rem;
  color: var(--color-gray-purple);
  text-decoration: none;
  transition: all 0.3s;
}

.nav__link:hover {
  background-color: rgba(137, 135, 161, 0.07);
}

.home,
.home:active,
.home:visited {
  color: #252432;
  font-weight: 700;
}

.cart__link,
.cart__link:active,
.cart__link:visited {
  text-decoration: none;
  color: #252432;
  transition: all 0.3s;
}

.cart__link:hover {
  color: var(--color-primary);
}

.cart-icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  color: #252432;
}

.hero {
  margin-top: 11rem;
  justify-content: space-between;
}

.hero__content {
  align-self: flex-end;
}

.heading__primary {
  color: var(--color-black);
  font-size: 6.5rem;
  font-weight: 700;
}

.heading__primary--colorful {
  color: var(--color-primary);
}

.description {
  margin-top: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.2rem;
}

.hero__img-box {
  width: 50%;
  height: 35rem;
}

.hero__img {
  height: 100%;
  width: 100%;
}

.plant {
  margin-top: 12rem;
}

.plant__main {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
}

.plant__heading {
  text-align: center;
  margin-bottom: 5rem;
}

.plant__heading--primary {
  font-size: 5rem;
  color: var(--color-black);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.cart {
  display: grid;
  place-items: center;
}
.cart__img {
  width: 100%;
  border-radius: 3px;
}
.cart__heading {
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--color-deep-black);
  line-height: 1.5;
}

.cart__price {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color-deep-black);
  line-height: 1.5;
}

.cart__btn {
  margin-top: 3rem;
  width: 100%;
  padding: 1.6rem;
  font-size: 1.6rem;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--color-primary);
  line-height: 1.5;
  color: var(--color-white);
}
.cart__btn:hover {
  cursor: pointer;
  background-color: #ff5e00;
}

.store {
  margin-top: 21rem;
  height: 60rem;
  display: flex;
  gap: 6rem;
  position: relative;
}

.batch {
  position: absolute;
  height: 28.6rem;
  width: 28.6rem;
  top: -20%;
  left: 20%;
  transform: translate(50%);
}
.store__img {
  width: 100%;
}
.store__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.store__heading {
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-black);
}
.store__description li {
  font-size: 2.2rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
}

.deal__content {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.deals__heading {
  font-size: 5rem;
}

.touch__img {
  height: 55rem;
  width: 100%;
  background-image: url("./assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.touch__content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.touch__heading {
  font-weight: 700;
  color: var(--color-white);
  font-size: 5rem;
  margin-bottom: 2.3rem;
}
.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.subscribe input[type="email"] {
  border: none;
  width: 65rem;
  height: 5rem;
  padding: 2rem;
  font-size: 1.6rem;
}

.touch__btn {
  height: 5rem;
  width: 18.5rem;
  border: none;
  color: var(--color-white);
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 600;
}

.touch__btn:hover {
  cursor: pointer;
  background-color: rgb(255, 101, 12);
}

.footer__main {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  gap: 11rem;
}

.footer__logo {
  width: 30rem;
}

.footer__links ul {
  display: flex;
  gap: 3.2rem;
  flex-direction: column;
  list-style: none;
}
.footer__links ul a {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.footer__icon--links {
  display: flex;
  gap: 2.4rem;
}
.footer__icon--links img {
  height: 3.6rem;
  width: 3.6rem;
}
